In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [46]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model

# reflect the tables
Base = automap_base()
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [9]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1f46b790400>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1}

In [10]:
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1f46b790b70>,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397'}

In [47]:
inspector = inspect(engine)
# Get a list of column names and types
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])
# columns

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [64]:
#session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).all()

In [13]:
print(session.query(Station).statement)

SELECT station.id, station.station, station.name, station.latitude, station.longitude, station.elevation
FROM station

In [17]:
#session.query(Station.id, Station.station, Station.name, Station.latitude, Station.longitude, Station.elevation).all()

In [16]:
#dates = session.query(Measurement)
#for date in dates:
#    print(date.date)

In [ ]:
for row in session.query(Dow.stock, Dow.volume).limit(15).all():
    print(row)

# Exploratory Precipitation Analysis

In [66]:
import datetime as dt

In [67]:
# Calculate the date one year from the last date in data set.

most_recent_date = session.query(Measurement).order_by(Measurement.date.desc()).first()
print(most_recent_date.date)

2017-08-23

In [68]:

#query_date = dt.date(2011, 4, 8) - dt.timedelta(days=7)
#print("Query Date: ", query_date)

year_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(year_ago)

2016-08-23

In [69]:
last_12_months = session.query(Measurement.date, Measurement.prcp).order_by(Measurement.date.desc()).limit(365).all()

In [74]:
df = pd.DataFrame(last_12_months[:], columns=['Date', 'Precipitation'])
df.set_index('Date', inplace=True,)
df.head()

            Precipitation
Date
2017-08-23           0.00
2017-08-23           0.00
2017-08-23           0.08
2017-08-23           0.45
2017-08-22           0.00

In [ ]:
df = pd.DataFrame(results[:10], columns=['emoji_char', 'emoji_id', 'score'])
df.set_index('emoji_id', inplace=True, )
df.head(10)

In [25]:
# Find the most recent date in the data set.
most_recent_date = session.query(Measurement).order_by(Measurement.date.desc()).first()
print(f"The most recent date is {most_recent_date.date}.")

The most recent date is 2017-08-23.

In [40]:
#Session.query(Measurement.prcp, Measurement.date).filter(Measurement.date >= '2016-08-22')

In [12]:
## Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
most_recent_date = session.query(Measurement).order_by(Measurement.date.desc()).first()
print(f"{most_recent_date.date}.")

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores
for row in session.query(Measurement.date, Measurement.prcp).order_by(Measurement.date.desc()).limit(12).all():
    print(row)

# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

2017-08-23.

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()